@model IEnumerable<VewMVC.Models.PersonModel>
@{
    ViewData["Title"] = "Index";
}
<h1>List Of People</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                FistName
            </th>
            <th>
                LastName
            </th>
            <th>
                Address
            </th>
            <th>
                Gender
            </th>
        </tr>
    </thead>
    <tbody>
            
        </tbody>
    </table>